@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

td{
  text-align: center;
}

.hover-animated-gradient-button:hover {
  animation: gradientHoverMove 4s ease infinite;
}

.triangle-animation {
  animation: rotateTriangle 2s ease-in-out infinite;
}

@keyframes rotateTriangle {

  0%,
  100% {
    transform: rotate(-40deg);
  }

  50% {
    transform: rotate(-50deg);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

@keyframes gradientHoverMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}